.red-background{
    background-image: none;
    background-color: red;
    color: white;
}

.green-background{
    background-image: none;
    background-color: green;
    color: white;
}

button:hover{
   background-color: black;
}
