[Desktop Entry]
Name=HSuite
Comment=Simple, Small, Useful
Exec=/usr/share/hsuite/HSuite
Icon=/usr/share/hsuite/icons/hsuite.png
Terminal=false
Type=Application
Categories=PackageManager;GTK;Utility;Development
